*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto';
}

header{
    display: flex;
    flex: 1;
    padding: 0 400px;
    padding-top: 20px;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
}
    .logo{
        font-size: 24px;
        font-weight: bold;
        color: #f9faf8;
    }
    .links{
        display: flex;
        gap: 18px;   
    }
        .links a{
            text-decoration: none;
            color: #e5e7eb;
            font-size: 18px;
        }


.hero{
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 150px 400px;
}
    .herotxt{
        color: #f9faf8;
    }
        .herotxt h1{
            font-size: 48px;
        }
        .herotxt p{
            font-size: 18px;
            color: #e5e7eb;
        }
    
    .hero img{
        width: 1000px;
        height: 300px;
        margin-left: 48px;
    }

    .hero button{
        all: unset;
        cursor: pointer;
        margin: 10px 0;
        font-weight: bold;
        background-color: #3882f6;
        color: #e5e7eb;
        padding: 5px 24px;
        border-radius: 5px;
    }

.content{
    width: auto;
}
    .content h2{
        margin-top: 48px;
        text-align: center;
        font-size: 36px;
        font-weight: 900;
        color: #1f2937;
    }

    .info-cards{
        display: flex;
        flex: 1;
        padding: 0 400px;
        width: 100%;
        margin-bottom: 50px;
    }
        .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
        }
            .card img{
                border-radius: 15px;
                display: block;
                margin-bottom: 0;
            }
            .card p{
                margin: 0;
                text-align: center;
                color: #494a4c;
            }

.quote{
    padding: 200px 400px;
    text-align: center;
    font-size: 36px;
    font-weight: 300;
    color: #1f2937;
    background-color: #e5e7eb;
    height: 500px;
    width: 100%;
}
    .quote h3{
        text-align: end;
        font-size: 24px;
    }


.call-to-action{
    padding: 100px 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}
    .sign-up{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 70px 100px;
        color: #f9faf8;
        background-color: #3882f6;
        border-radius: 15px;
    }   
        .sign-up button{
            all: unset;
            cursor: pointer;
            display: flex;
            align-items: center;
            padding: 4px 12px;
            margin-left: 40px;
            border: 2px solid;
            border-radius: 5px;
            border-color: #e5e7eb;
        }

footer{
    text-align: center;
    background-color: #1f2937;
    color: #e5e7eb;
    padding: 50px;
}